{% extends "base.html"%}
{% block content %}
<div class="page-header">
    <h1>Create Store</h1>
</div>
<div class="form-size">
    <form method="post">
        <div class="form-group">
            <label for="name">Store Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Store Name">
        </div>
        <div class="form-group">
            <label for="name">Store URL Prefix</label>
            <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="http://..." aria-describedby="storeURLPrefixHelp">
            <span id="storeURLPrefixHelp" class="help-block">The URL prefix of the store</span>
        </div>
        <div class="form-group">
            <label for="tag_name">Tag Name</label>
            <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span" value="span" aria-describedby="tagNameHelp">
            <span id="tagNameHelp" class="help-block">The tag name preceding the price in HTML</span>
        </div>
        <div class="form-group">
            <label for="query">Query</label>
            <input type="text" class="form-control" id="query" name="query" placeholder='{"id": "price-now"}' value='{"id": "price-now"}' aria-describedby="queryHelpBlock">
            <span id="tagNameHelp" class="help-block"></span>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
{% endblock %}